* {
  margin: 0;
  padding: 0;
  /* height: 100%; */
  scroll-behavior: smooth;
}

.container {
  height: 910px;
}

.main {
  background-image: url(gold.jpg);
  height: 99%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  +
}
.logo{
  color: rgba(212,173,150,255);
      color: white;
      display: flex;
    justify-content: center;
    padding-top: 35px;
    cursor: pointer;
      
  }
  .logo p{
      font-size: 50px;
  }
  
  .list a{
  
      /* color: rgba(212,173,150,255); */
      color: whitesmoke;
      font-size: 19px;
      font-weight: bold;
      text-decoration: none;
      padding-left: 30px;
  }
  .list{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 9px;
  }

  .cont{
    color: whitesmoke;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dont{
    height: 450px;
    /* color: rgba(212,173,150,255); */
    color: white;
    display: flex;
    justify-content: center
    ;
    /* align-items: center; */
    /* color: whitesmoke; */
    font-size: 150px;
}
/* list */
.list a.active{
  color: white;
  font-weight: bold; /* You can make the font bold to make it more noticeable */
  font-size: 45px;
  /* background-color: pink; */
}

/* note */
.note{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.note h2{
  padding: 15px;
color:   rgba(212,173,150,255);
}
.note p{
  padding: 10px;  
  color: gray;
}

/* eoom */
.hontainer{
  width: 100%;
  display: flex;
}
.hontainer img{
  padding: 25px 0px 10;
  width: 90%;
}
.left img{
  /* padding: 25px 0px 10; */
  /* width: 100%; */
  height: 400px;
object-fit: cover;
}
.right img{
  /* padding: 25px; */
  /* width: 100%; */
  height: 400px;
object-fit: cover;
}
.top img{
  /* padding: 25px; */
  /* width: 100%; */
  height: 400px;
object-fit: cover;
}
.bottom img{
  /* padding: 25px; */
  /* width: 100%; */
  height: 400px;
object-fit: cover;
}

.hontainer h1{
color:   rgba(212,173,150,255);
  
}
.hontainer p{
  color: gray;
}

.btn-two{
  height: 30px;
  width: 100px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(212,173,150,255);
}
.btn-two:hover{
  background-color:  rgba(212,173,150,255);;
  border: none;
  color: whitesmoke;
  transition: 0.5s;
  border-radius: 5px;
}

.hontainer h1{
  text-align: center;
}

.hontainer p{
  text-align: center;
}
.bottom{
  text-align: center;
}
.top{
  text-align: center;
}
.left{
  text-align: center;
}
.right{
  text-align: center;
}
.things{
  display: flex;
  justify-content: space-evenly;
  padding: 55px;
}
.things i{
  padding-right: 5pxs;
}

.links{
  display: flex;
  justify-content: space-evenly;
  color: black;
  padding: 35px;
  }

  /* end */
  .end{
    height: 150px;
    background-color: #9e9e9e;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    
}
.end p{
    padding-top: 17px;
}