* {
  margin: 0;
  padding: 0;
  /* height: 100%; */
  scroll-behavior: smooth;
}

.container {
  height: 910px;
}

.main {
  background-image: url(main.jpg);
  height: 85%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  +
}

/* front */

.logo{
color: rgba(212,173,150,255);
    color: white;
    display: flex;
  justify-content: center;
  padding-top: 35px;
  cursor: pointer;
    
}
.logo p{
    font-size: 50px;
}

.list a{
    /* color: rgba(212,173,150,255); */
    color: whitesmoke;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    padding-left: 30px;
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 9px;
}
/* SD */
.cont{
    color: whitesmoke;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dont{
    height: 450px;
    /* color: rgba(212,173,150,255); */
    color: white;
    display: flex;
    justify-content: center
    ;
    /* align-items: center; */
    /* color: whitesmoke; */
    font-size: 150px;

}
/* eont */
.eont{
    /* background-color: green; */
    height: 140px;
    display: flex;
    justify-content: center;
}

.eont-content{
    background-color: rgb(248, 243, 243);
    width: 98%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
button{
    height: 30px;
    width: 100px;
    background-color: transparent;
    outline: none;
    border: 1px solid rgba(212,173,150,255);
}
button:hover{
    background-color:  rgba(212,173,150,255);;
    border: none;
    color: whitesmoke;
    transition: 0.5s;
    border-radius: 5px;
}

.eont-content h2{
    color: rgba(212,173,150,255);
    font-size: 30px;
}
.eont-content p{
    color: rgb(144, 144, 144);
}
/* foit */
.font{
    height: 400px;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.font p{
    font-size: 50px;
    color: rgba(212,173,150,255);
}

.gont a{
    color: black;
    text-decoration: none;

}
.gont{
    display: flex;
    justify-content: center;
}
.btn button {
    height: 40px;
    width: 150px;
    background-color: transparent;
    outline: none;
    border: 1px solid rgba(212,173,150,255);
    margin: 50px;
}

.btn button:hover{
    background-color:  rgba(212,173,150,255);;
    border: none;
    color: whitesmoke;
    transition: 0.5s;
    border-radius: 5px;
}
/* hont */
.hont{
    display: flex;
    /* height: 900px; */
    justify-content: space-between;
}

.hont img{
    padding-top: 15px;
}
.hont-cont{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

.hont-cont h1{
    color: rgba(212,173,150,255);
    padding-bottom: 15px;
}
.hont-cont p{
    color: rgb(183, 183, 183);
    font-style: italic;
    padding-bottom: 35px;
}

/* g */
.iont{
    display: flex;
    /* height: 900px; */
    justify-content: space-between;
}

.iont img{
    
}
.iont-cont{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

.iont-cont h1{
    padding-bottom: 15px;
    color: rgba(212,173,150,255);
}
.iont-cont p{
    padding-bottom: 35px;
    color: rgb(183, 183, 183);
    font-style: italic;
}

/* animation */
.stats {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
  }
  
  .stat {
    font-size: 2rem;
    margin: 20px;
  }
  
  .num {
    display: block;
    font-size: 3rem;
    font-weight: bold;
    color: #333;
  }
  
  /* 
  FOOD */
  .food{
    display: flex;
    justify-content: center;
    padding: 65px;
    flex-direction: column;
    align-items: center;
  }
  .food img{
    padding: 10px;
    height: 50px;
    mix-blend-mode: color-burn;
  }
  .food p{
    padding: 45px;
    font-size: 65px;
    color: rgba(212,173,150,255);
    text-align: center;
  }
  .food-pic{
    height: 500px;
    /* background-color: red; */
    
  }
  .food-pic img{
    width: 45%;
    /* object-fit: contain; */
    height: 80%;
    
  }
  
  .food-pic{
    display: flex;
    justify-content: space-evenly;
  }
  /* des */
  .des{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .des h1{
    color: rgba(212,173,150,255);
    padding: 10px;
    font-size: 45px;
    padding-top: 35px;
  }
  .des p{
    height: 200px;
    font-style: italic;
word-spacing: 10px;
padding-top: 15px;
color: #969494;
  }
  .visit img{
    width: 50%;
    object-fit: contain;
height: 400px;
  }

  .visit{
    display: flex;
    justify-content: space-evenly; 
    /* flex-direction: column; */
  }

  /* tip */
  .content {
    height: auto; /* To create a scrollable page */
    /* padding: 20px; */
}

#backToTopBtn {
    transition: 0.5s ease-out;
    display: none; /* Hidden by default */
    position: fixed; /* Stays fixed on the screen */
    bottom: 20px; /* Position from the bottom */
    right: 20px; /* Position from the right */
    z-index: 99; /* Ensure it stays on top */
    background-color: rgba(212,173,150,255); 
    color: white; /* White text */
    border: none; /* Remove border */
    padding: 15px; /* Add some padding */
    border-radius: 50px; /* Rounded button */
    cursor: pointer; /* Pointer/hand icon */
}

#backToTopBtn:hover {
    /* background-color:   rgb(118, 118, 118);  */
    background-color: transparent;
    color:rgba(212,173,150,255); ;
    border: 1px solid rgba(212,173,150,255);;
}

/* next */
.links{
display: flex;
justify-content: space-evenly;
color: black;
padding: 35px;
}
/* wens */
.end{
    height: 150px;
    background-color: #9e9e9e;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    
}
.end p{
    padding-top: 17px;
}
